<app-loading *ngIf="!teacher && !createTeacher"></app-loading>

<section class="teacher-detail" *ngIf="teacher || createTeacher">
  <mat-toolbar class="title">
    <h2>Informações sobre o professor!</h2>
  </mat-toolbar>
  <app-teacher-details-card
    *ngIf="!createTeacher && !isEditing"
    [teacher]="teacher"
    [isEditing]="isEditing"
    (isEditingChange)="updateIsEditing($event)"
    (deleteTeacher)="deleteTeacher($event)"
    class="teacher-detail-card"
  >
  </app-teacher-details-card>

  <app-teacher-form
    [createTeacher]="createTeacher"
    *ngIf="isEditing || createTeacher"
    class="teacher-form-card"
    [teacher]="teacher"
    (isEditingEnd)="updateEndEditing($event)"
  ></app-teacher-form>
</section>
