<app-loading *ngIf="!student && !createStudent"></app-loading>

<section class="student-detail" *ngIf="student || createStudent">
  <mat-toolbar class="title">
    <h2>Informações sobre o estudante!</h2>
  </mat-toolbar>
  <app-student-details-card
    *ngIf="!createStudent && !isEditing"
    [student]="student"
    [isEditing]="isEditing"
    (isEditingChange)="updateIsEditing($event)"
    (deleteStudent)="deletestudent($event)"
    class="student-detail-card"
  >
  </app-student-details-card>

  <app-student-form
    [createStudent]="createStudent"
    *ngIf="isEditing || createStudent"
    class="student-form-card"
    [student]="student"
    (isEditingEnd)="updateEndEditing($event)"
  ></app-student-form>
</section>
