.student-detail{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
.student-detail-card{
  flex: 1;
  min-width: 50%;
}
  .student-form-card{
    flex: 1;
    min-width:  35%;
  }
}

.title{
  margin-bottom: 10px;
  background-color: var(--white-color);
  text-align: center;
  h2 {
    width: 100%;
    font-size: 1.5rem;
  }
}
