.header {
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100%;

  .logout {

    background-color: #d32f2f;
    &:hover{
      background-color: #e57373;
    }
    cursor: pointer;
  }
}
.title {
  margin-left: 1rem;
}

.sidebar {
  color: var(--text-color);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

.button-disabled .sidebar {
  justify-content: flex-start;
}
nav{
  width: 100%;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

nav li {
  margin: 0 0.2rem;

}

a {
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  border-radius: 20px;
  transition: color 0.3s ease;
  padding: 0.5rem;
  background-color: rgba(83, 56, 148, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  min-width: 60px;

   &:hover{
    color: var(--white-color);
    background-color: var(--secondary2-color);
   }
}

a.active{
  background-color: var(--secondary2-color);
 }

span {
 font-size: 1rem;
}

@media (max-width:728px) {
  .title {
    display: none;
    margin: 0;
   }
}

@media (max-width:600px) {
  .header {
    justify-content: flex-start;


    .link{
      display: none;
  }
  li{
    width: 100%;
  }
    li a{
      padding: 2px;
      width: 100%;
    }
    .logout{
      height: 20px;
    }

  }

}
@media (max-width:350px){
  a{
    min-width: 30px;
  }
}
