.header {
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100%;
}
.title {
  margin-left: 1rem;
}

.sidebar {
  color: var(--text-color);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

.button-disabled .sidebar {
  justify-content: flex-start;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin: 0 0.2rem;
}

a {
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  border-radius: 20px;
  transition: color 0.3s ease;
  padding: 0.5rem;
  background-color: rgba(83, 56, 148, 0.1);
  font-size: 1rem;
   &:hover{
    color: var(--white-color);
    background-color: var(--secondary2-color);
   }
}

a.active{
  background-color: var(--secondary2-color);
 }

span {
 font-size: 1rem;
}
@media (max-width: 728px) {
  .header {
    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: 460px){
      overflow-x: auto;
    }

    a{
      padding: 2px;
    }
  }

  .title {
   display: none;
   margin: 0;
  }

  .sidebar {
    justify-content: flex-start;

  }


}
