<mat-toolbar color="primary" class="header">
  <span class="title">Course Ease</span>
  <aside class="sidebar">
    <nav>
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active"
            ><span class="material-symbols-outlined"> dashboard </span>
            <span class="link">Dashboard</span></a
          >
        </li>
        <li>
          <a routerLink="/courses" routerLinkActive="active"
            ><span class="material-symbols-outlined"> library_books </span
            ><span class="link">Cursos</span></a
          >
        </li>
        <li>
          <a routerLink="/students" routerLinkActive="active"
            ><span class="material-symbols-outlined"> school </span
            ><span class="link">Estudantes</span></a
          >
        </li>
        <li>
          <a routerLink="/teachers" routerLinkActive="active"
            ><span class="material-symbols-outlined"> person </span
            ><span class="link">Professores</span></a
          >
        </li>
      </ul>
    </nav>
  </aside>

  <a *ngIf="isLoggedIn" class="logout" (click)="logout()"
    ><span class="material-symbols-outlined"> logout </span
    ><span class="link">Sair</span></a
  >
</mat-toolbar>
