<header class="header">
  <span class="title">Course Ease</span>
  <aside class="sidebar">
    <nav>
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li><a routerLink="/courses" routerLinkActive="active">Cursos</a></li>
        <li>
          <a routerLink="/students" routerLinkActive="active">Estudantes</a>
        </li>
        <li>
          <a routerLink="/teachers" routerLinkActive="active">Professores</a>
        </li>
      </ul>
    </nav>
  </aside>
  <button mat-button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
</header>
