:root{
  --primary-color: #0197AF;
  --secondary-color: #4B227A;
  --secondary2-color: #825fb8;
  --accent-color: #00EED0;
  --background-color: #02153D;
  --site-color: #ededed;
  --white-color: #fff;
  --text-color: #FFFFFF;
}
