

.login-card {
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.mat-card-header {
  border-radius: 8px 8px 4px 4px;
  background-color:var(--primary-color);
  padding: 16px;
  color: white;
}

.mat-card-content {
  padding: 20px;
}
.links {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  color: var(--background-color);
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  span{
    .separator {
      color: #777;
    }
  }
}

.links a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
@media (max-width:728px) {
  .links{
    font-size: 0.8rem;
  }
  .separator{
    display: none;
  }
}
