<form [formGroup]="form" (ngSubmit)="onSubmit.emit()">
  <app-input-form
    label="Username"
    [control]="getFormControl('username')"
    placeholder="Username"
    [errors]="[{ type: 'required', message: 'O username é obrigatório' }]"
    [showErrors]="formSubmitted"
  ></app-input-form>

  <app-input-form
    label="Password"
    [control]="getFormControl('password')"
    type="password"
    placeholder="Password"
    [errors]="[
      { type: 'required', message: 'A senha é obrigatória' },
      {
        type: 'minlength',
        message: 'A senha deve ter pelo menos 8 caracteres'
      },
      {
        type: 'pattern',
        message:
          'A senha deve conter pelo menos 1 letra maiúscula, 1 minúscula e 1 número'
      }
    ]"
    [showErrors]="formSubmitted"
  ></app-input-form>

  <app-button [disabled]="loading" [loading]="loading" (onClick)="submit()">
    <ng-container *ngIf="!loading">Enviar</ng-container>
  </app-button>
</form>
