@import './src/styles/variables';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  width: 100%;
}

header, footer {
  color: var(--text-color);
}

:root{
  .loading-text {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 8px;
    align-self: center;
  }
  .msg-sucess {
    background-color: #28a745;
    color: #fff;
  }
  .msg-error {
    background-color: red;
    color: #fff;
  }
  mat-progress-spinner{
    align-self: center;
    color: var(--primary-color);
  }
  .overlay {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: calc(100% - (56px + 40px));
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
