<app-loading
  *ngIf="(loadingStudents && !editingStudents) || (!course && !createCourse)"
></app-loading>

<section
  class="course-detail"
  [ngClass]="{ 'flex-row': editingStudents }"
  *ngIf="course || createCourse"
>
  <app-course-details-card
    *ngIf="!createCourse && !editingStudents && !loadingStudents && !isEditing"
    [course]="course"
    [isEditing]="isEditing"
    [teacherName]="teacherName"
    (isEditingChange)="updateIsEditing($event)"
    (deleteCourse)="deletecourse($event)"
    class="course-detail-card"
  >
  </app-course-details-card>

  <app-course-form
    [createCourse]="createCourse"
    *ngIf="isEditing || createCourse"
    (isEditing)="updateIsEditing($event)"
    class="course-form-card"
    [course]="course"
    (isEditingEnd)="updateEndEditing($event)"
  ></app-course-form>

  <div *ngIf="!isEditing && !createCourse" class="course-members">
    <app-itens-list
      [selectedItems]="removeStudentsIds"
      [editing]="editingStudents"
      [items]="course.students!"
      [redColor]="editingStudents"
      label="Pesquisar Aluno"
      class="student-list"
    ></app-itens-list>
    <div class="div-btn">
      <span class="spn-aln">{{
        editingStudents
          ? "Selecione quem deseja remover!"
          : "Alunos matriculados no curso."
      }}</span>
      <app-button
        *ngIf="!editingStudents"
        class="add-buton"
        (onClick)="toggleEditingStudent()"
      >
        Editar</app-button
      >
    </div>
  </div>

  <div class="all-students" *ngIf="editingStudents || loadingStudents">
    <app-itens-list
      [selectedItems]="addStudentsIds"
      [editing]="editingStudents"
      [items]="students!"
      label="Pesquisar Aluno"
      class="student-list"
    ></app-itens-list>
    <div class="div-btn">
      <span class="spn-aln">Selecione quem deseja adicionar!</span>
      <div class="botoes">
        <app-button
          [redColor]="editingStudents"
          class="add-buton"
          (onClick)="toggleEditingStudent()"
          >Cancelar</app-button
        >
        <app-button class="add-buton" (onClick)="updateEditingStudent()"
          >Salvar</app-button
        >
      </div>
    </div>
  </div>
</section>
