.course-detail{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;

.course-detail-card, .all-students{

  width: 50%;
  flex: 1;
}

.course-form-card{
    flex: 1;
    width: 50%;
  }

.course-members{
  flex: 1;
  width: 50%;
  .teacher{
    color: black;
    margin: 5px;
    padding: 5px;
  }
}
.all-students, .course-members{
  display: flex;
  flex-direction: column;
}
.add-buton{
  min-width: 120px;
  width: 150px;
  align-self: flex-end;
  margin-right: 80px;
}
}
