<h3 mat-line>{{ item.name ? item.name : item.personData.name }}</h3>

<!-- Campos específicos para cursos -->
<span *ngIf="type == 'course'" mat-line>Categoria: {{ item.category }}</span>
<span *ngIf="type == 'course'" mat-line>Professor: {{ item.teacher }}</span>

<!-- Campos específicos para alunos -->
<span mat-line *ngIf="type == 'student'">Matrícula: {{ item.enrollment }}</span>

<!-- Campos específicos para professores -->
<span mat-line *ngIf="type == 'teacher'"
  >Especialização: {{ item.specialization }}</span
>
<span mat-line *ngIf="type == 'teacher'"
  >Anos de Experiência: {{ item.experienceYears }}</span
>

<span mat-line *ngIf="item.createdAt"
  >Data de registro: {{ item.createdAt | date: "dd/MM/yyyy" }}</span
>
<app-item-status [ativo]="item.active"></app-item-status>
